body {
  font:  serif;
  margin: 25px;
}

.tagsb {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tagsb li {
  float: left; 
}

.tagb {
  background: #1f1919;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  font-size: 8px;
}

.tagb::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tagb::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #1f1919;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tagb:hover {
  background-color: crimson;
  color: white;
}

.tagb:hover::after {
   border-left-color: crimson; 
}